{:kotoba.app/id "cloud.itonami.isic-3900", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibxr4rwmlkzykhabzrmvsrtvxtqublrfcm6xicu56s53ykr5vxhba", :kotoba.app/embed-url "ipfs://bafkreibxr4rwmlkzykhabzrmvsrtvxtqublrfcm6xicu56s53ykr5vxhba", :published {:archive "https://kotobase.net/ipfs/bafkreibxr4rwmlkzykhabzrmvsrtvxtqublrfcm6xicu56s53ykr5vxhba", :size 72319, :put-status 201, :get-status 200, :at "2026-08-15T13:37:09.338Z"}}
